@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~sweetalert2/src/sweetalert2';

@import 'elements/card';
@import 'elements/navbar';
@import 'elements/buttons';
@import 'elements/transitions';

@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins', sans-serif;
}

.hero {
  background: url('/images/banner.jpg') no-repeat center center;
  color:#FDFDFD;
  background-size: cover;
  padding:0;

  .background-overlay {
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0, 0.7);
  }
}

.navbar-brand {
  color: #636b6f;
}

.navbar-nav .nav-link {
  color: #636b6f;
  font-weight: 500;
}
